### Gradle ###
.gradle/
**/build/
**/local.properties
!gradle/wrapper/gradle-wrapper.properties

### Android Studio / IntelliJ ###
.idea/
*.iml
*.iws
*.ipr
.idea/**

### Keystore ###
keystore/**

### Others ###
.DS_Store
*.log
output/